<!Doctype html>

<html xmlns:th="http://thymeleaf.org">

<head th:replace="layout :: site-head">
</head>

<!-- Using the logged-in fragment -->
<header th:replace="layout :: logged-in"></header>
<!-- Display all the images in user home page after successful log in-->
<body>
<h1>Welcome User. These are the images</h1>
<main id="images">
    <post th:each="i : ${images}">
        <p>
        <div>
            <img th:src="'data:image/jpeg;base64,'+${i.imageFile}"/>
        </div>

        <!--Change <a th:href="'/images/' + ${i.title}"> to <a th:href="'/images/' +${i.id} +'/' +${i.title}">-->
        <a th:href="'/images/' + ${i.id}+'/' +${i.title}">
            <h3 th:text="${i.title}">Title of image</h3>
        </a>ns.factory.annotation.InjectionMetadata.inject(InjectionMetadata.java:90) ~[spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor.postProcessPropertyValues(PersistenceAnnotationBeanPostProcessor.java:353) ~[spring-orm-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.populateBean(AbstractAutowireCapableBeanFactory.java:1341) [spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.doCreateBean(AbstractAutowireCapableBeanFactory.java:572) [spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.createBean(AbstractAutowireCapableBeanFactory.java:495) [spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.AbstractBeanFactory.lambda$doGetBean$0(AbstractBeanFactory.java:317) [spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.DefaultSingletonBeanRegistry.getSingleton(DefaultSingletonBeanRegistry.java:222) ~[spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.AbstractBeanFactory.doGetBean(AbstractBeanFactory.java:315) [spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.AbstractBeanFactory.getBean(AbstractBeanFactory.java:199) [spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.config.DependencyDescriptor.resolveCandidate(DependencyDescriptor.java:251) ~[spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.DefaultListableBeanFactory.doResolveDependency(DefaultListableBeanFactory.java:1135) ~[spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.DefaultListableBeanFactory.resolveDependency(DefaultListableBeanFactory.java:1062) ~[spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor$AutowiredFieldElement.inject(AutowiredAnnotationBeanPostProcessor.java:583) ~[spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.annotation.InjectionMetadata.inject(InjectionMetadata.java:90) ~[spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor.postProcessPropertyValues(AutowiredAnnotationBeanPostProcessor.java:372) ~[spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.populateBean(AbstractAutowireCapableBeanFactory.java:1341) [spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.doCreateBean(AbstractAutowireCapableBeanFactory.java:572) [spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.createBean(AbstractAutowireCapableBeanFactory.java:495) [spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.AbstractBeanFactory.lambda$doGetBean$0(AbstractBeanFactory.java:317) [spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.DefaultSingletonBeanRegistry.getSingleton(DefaultSingletonBeanRegistry.java:222) ~[spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.AbstractBeanFactory.doGetBean(AbstractBeanFactory.java:315) [spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.AbstractBeanFactory.getBean(AbstractBeanFactory.java:199) [spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.config.DependencyDescriptor.resolveCandidate(DependencyDescriptor.java:251) ~[spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.DefaultListableBeanFactory.doResolveDependency(DefaultListableBeanFactory.java:1135) ~[spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.DefaultListableBeanFactory.resolveDependency(DefaultListableBeanFactory.java:1062) ~[spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor$AutowiredFieldElement.inject(AutowiredAnnotationBeanPostProcessor.java:583) ~[spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.annotation.InjectionMetadata.inject(InjectionMetadata.java:90) ~[spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor.postProcessPropertyValues(AutowiredAnnotationBeanPostProcessor.java:372) ~[spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.populateBean(AbstractAutowireCapableBeanFactory.java:1341) [spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.doCreateBean(AbstractAutowireCapableBeanFactory.java:572) [spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.createBean(AbstractAutowireCapableBeanFactory.java:495) [spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.AbstractBeanFactory.lambda$doGetBean$0(AbstractBeanFactory.java:317) [spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.DefaultSingletonBeanRegistry.getSingleton(DefaultSingletonBeanRegistry.java:222) ~[spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.AbstractBeanFactory.doGetBean(AbstractBeanFactory.java:315) [spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.AbstractBeanFactory.getBean(AbstractBeanFactory.java:199) [spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.beans.factory.support.DefaultListableBeanFactory.preInstantiateSingletons(DefaultListableBeanFactory.java:759) ~[spring-beans-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.context.support.AbstractApplicationContext.finishBeanFactoryInitialization(AbstractApplicationContext.java:869) ~[spring-context-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.context.support.AbstractApplicationContext.refresh(AbstractApplicationContext.java:550) ~[spring-context-5.0.9.RELEASE.jar:5.0.9.RELEASE]
        at org.springframework.boot.web.servlet.context.ServletWebServerApplicationContext.refresh(ServletWebServerApplicationContext.java:140) ~[spring-boot-2.0.5.RELEASE.jar:2.0.5.RELEASE]
        at org.springframework.boot.SpringApplication.refresh(SpringApplication.java:780) ~[spring-boot-2.0.5.RELEASE.jar:2.0.5.RELEASE]
        at org.springframework.boot.SpringApplication.refreshContext(SpringApplication.java:412) ~[spring-boot-2.0.5.RELEASE.jar:2.0.5.RELEASE]
        at org.springframework.boot.SpringApplication.run(SpringApplication.java:333) ~[spring-boot-2.0.5.RELEASE.jar:2.0.5.RELEASE]
        at org.springframework.boot.SpringApplication.run(SpringApplication.java:1277) ~[spring-boot-2.0.5.RELEASE.jar:2.0.5.RELEASE]
        at org.springframework.boot.SpringApplication.run(SpringApplication.java:1265) ~[spring-boot-2.0.5.RELEASE.jar:2.0.5.RELEASE]
        at ImageHoster.ImageHosterApplication.main(ImageHosterApplication.java:11) ~[classes/:na]
        Caused by: org.postgresql.util.PSQLException: ERROR: constraint "fkgsj11feci341byyrilwywpe47" for relation "images_tags" already exists
        at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2433) ~[postgresql-42.2.2.jar:42.2.2]
        at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2178) ~[postgresql-42.2.2.jar:42.2.2]
        at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:306) ~[postgresql-42.2.2.jar:42.2.2]
        at org.postgresql.jdbc.PgStatement.executeInternal(PgStatement.java:441) ~[postgresql-42.2.2.jar:42.2.2]
        at org.postgresql.jdbc.PgStatement.execute(PgStatement.java:365) ~[postgresql-42.2.2.jar:42.2.2]
        at org.postgresql.jdbc.PgStatement.executeWithFlags(PgStatement.java:307) ~[postgresql-42.2.2.jar:42.2.2]
        at org.postgresql.jdbc.PgStatement.executeCachedSql(PgStatement.java:293) ~[postgresql-42.2.2.jar:42.2.2]
        at org.postgresql.jdbc.PgStatement.executeWithFlags(PgStatement.java:270) ~[postgresql-42.2.2.jar:42.2.2]
        at org.postgresql.jdbc.PgStatement.execute(PgStatement.java:266) ~[postgresql-42.2.2.jar:42.2.2]
        at org.hibernate.tool.schema.internal.exec.GenerationTargetToDatabase.accept(GenerationTargetToDatabase.java:54) ~[hibernate-core-5.2.17.Final.jar:5.2.17.Final]
        ... 86 common frames omitted

        2020-01-14 20:53:57.222  INFO 2597 --- [           main] j.LocalContainerEntityManagerFactoryBean : Initialized JPA EntityManagerFactory for persistence unit 'imageHoster'
        2020-01-14 20:53:57.309  INFO 2597 --- [           main] o.s.j.d.DriverManagerDataSource          : Loaded JDBC driver: org.postgresql.Driver
        2020-01-14 20:53:57.404  INFO 2597 --- [           main] o.s.w.s.handler.SimpleUrlHandlerMapping  : Mapped URL path [/**/favicon.ico] onto handler of type [class org.springframework.web.servlet.resource.ResourceHttpRequestHandler]
        2020-01-14 20:53:57.702  INFO 2597 --- [           main] s.w.s.m.m.a.RequestMappingHandlerAdapter : Looking for @ControllerAdvice: org.springframework.boot.web.servlet.context.AnnotationConfigServletWebServerApplicationContext@1d082e88: startup date [Tue Jan 14 20:53:54 IST 2020]; root of context hierarchy
        2020-01-14 20:53:57.727  WARN 2597 --- [           main] aWebConfiguration$JpaWebMvcConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
        2020-01-14 20:53:57.752  INFO 2597 --- [           main] s.w.s.m.m.a.RequestMappingHandlerMapping : Mapped "{[/]}" onto public java.lang.String ImageHoster.controller.HomeController.getAllImages(org.springframework.ui.Model)
        2020-01-14 20:53:57.753  INFO 2597 --- [           main] s.w.s.m.m.a.RequestMappingHandlerMapping : Mapped "{[/images/upload]}" onto public java.lang.String ImageHoster.controller.ImageController.newImage()
        2020-01-14 20:53:57.754  INFO 2597 --- [           main] s.w.s.m.m.a.RequestMappingHandlerMapping : Mapped "{[/images]}" onto public java.lang.String ImageHoster.controller.ImageController.getUserImages(org.springframework.ui.Model)
        2020-01-14 20:53:57.754  INFO 2597 --- [           main] s.w.s.m.m.a.RequestMappingHandlerMapping : Mapped "{[/images/{id}/{title}]}" onto public java.lang.String ImageHoster.controller.ImageController.showImage(java.lang.Integer,java.lang.String,org.springframework.ui.Model)
        2020-01-14 20:53:57.754  INFO 2597 --- [           main] s.w.s.m.m.a.RequestMappingHandlerMapping : Mapped "{[/editImage]}" onto public java.lang.String ImageHoster.controller.ImageController.editImage(java.lang.Integer,org.springframework.ui.Model,javax.servlet.http.HttpSession)
        2020-01-14 20:53:57.755  INFO 2597 --- [           main] s.w.s.m.m.a.RequestMappingHandlerMapping : Mapped "{[/editImage],methods=[PUT]}" onto public java.lang.String ImageHoster.controller.ImageController.editImageSubmit(org.springframework.web.multipart.MultipartFile,java.lang.Integer,java.lang.String,ImageHoster.model.Image,javax.servlet.http.HttpSession) throws java.io.IOException
        2020-01-14 20:53:57.755  INFO 2597 --- [           main] s.w.s.m.m.a.RequestMappingHandlerMapping : Mapped "{[/deleteImage],methods=[DELETE]}" onto public java.lang.String ImageHoster.controller.ImageController.deleteImageSubmit(java.lang.Integer,org.springframework.ui.Model,javax.servlet.http.HttpSession)
        2020-01-14 20:53:57.755  INFO 2597 --- [           main] s.w.s.m.m.a.RequestMappingHandlerMapping : Mapped "{[/images/upload],methods=[POST]}" onto public java.lang.String ImageHoster.controller.ImageController.createImage(org.springframework.web.multipart.MultipartFile,java.lang.String,ImageHoster.model.Image,javax.servlet.http.HttpSession) throws java.io.IOException
        2020-01-14 20:53:57.756  INFO 2597 --- [           main] s.w.s.m.m.a.RequestMappingHandlerMapping : Mapped "{[/users/login]}" onto public java.lang.String ImageHoster.controller.UserController.login()
        2020-01-14 20:53:57.756  INFO 2597 --- [           main] s.w.s.m.m.a.RequestMappingHandlerMapping : Mapped "{[/users/logout],methods=[POST]}" onto public java.lang.String ImageHoster.controller.UserController.logout(org.springframework.ui.Model,javax.servlet.http.HttpSession)
        2020-01-14 20:53:57.756  INFO 2597 --- [           main] s.w.s.m.m.a.RequestMappingHandlerMapping : Mapped "{[/users/registration]}" onto public java.lang.String ImageHoster.controller.UserController.registration(org.springframework.ui.Model)
        2020-01-14 20:53:57.757  INFO 2597 --- [           main] s.w.s.m.m.a.RequestMappingHandlerMapping : Mapped "{[/users/registration],methods=[POST]}" onto public java.lang.String ImageHoster.controller.UserController.registerUser(ImageHoster.model.User)
        2020-01-14 20:53:57.757  INFO 2597 --- [           main] s.w.s.m.m.a.RequestMappingHandlerMapping : Mapped "{[/users/login],methods=[POST]}" onto public java.lang.String ImageHoster.controller.UserController.loginUser(ImageHoster.model.User,javax.servlet.http.HttpSession)
        2020-01-14 20:53:57.763  INFO 2597 --- [           main] s.w.s.m.m.a.RequestMappingHandlerMapping : Mapped "{[/error]}" onto public org.springframework.http.ResponseEntity<java.util.Map<java.lang.String, java.lang.Object>> org.springframework.boot.autoconfigure.web.servlet.error.BasicErrorController.error(javax.servlet.http.HttpServletRequest)
        2020-01-14 20:53:57.764  INFO 2597 --- [           main] s.w.s.m.m.a.RequestMappingHandlerMapping : Mapped "{[/error],produces=[text/html]}" onto public org.springframework.web.servlet.ModelAndView org.springframework.boot.autoconfigure.web.servlet.error.BasicErrorController.errorHtml(javax.servlet.http.HttpServletRequest,javax.servlet.http.HttpServletResponse)
        2020-01-14 20:53:57.794  INFO 2597 --- [           main] o.s.w.s.handler.SimpleUrlHandlerMapping  : Mapped URL path [/webjars/**] onto handler of type [class org.springframework.web.servlet.resource.ResourceHttpRequestHandler]
        2020-01-14 20:53:57.794  INFO 2597 --- [           main] o.s.w.s.handler.SimpleUrlHandlerMapping  : Mapped URL path [/**] onto handler of type [class org.springframework.web.servlet.resource.ResourceHttpRequestHandler]
        2020-01-14 20:53:57.908  INFO 2597 --- [           main] o.s.b.a.w.s.WelcomePageHandlerMapping    : Adding welcome page template: index
        2020-01-14 20:53:58.277  INFO 2597 --- [           main] o.s.j.e.a.AnnotationMBeanExporter        : Registering beans for JMX exposure on startup
        2020-01-14 20:53:58.345  INFO 2597 --- [           main] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat started on port(s): 8080 (http) with context path ''
        2020-01-14 20:53:58.351  INFO 2597 --- [           main] ImageHoster.ImageHosterApplication       : Started ImageHosterApplication in 4.415 seconds (JVM running for 5.671)
        2020-01-14 20:54:13.532  INFO 2597 --- [nio-8080-exec-1] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring FrameworkServlet 'dispatcherServlet'
        2020-01-14 20:54:13.532  INFO 2597 --- [nio-8080-exec-1] o.s.web.servlet.DispatcherServlet        : FrameworkServlet 'dispatcherServlet': initialization started
        2020-01-14 20:54:13.552  INFO 2597 --- [nio-8080-exec-1] o.s.web.servlet.DispatcherServlet        : FrameworkServlet 'dispatcherServlet': initialization completed in 20 ms
        2020-01-14 20:54:13.663  INFO 2597 --- [nio-8080-exec-1] o.h.h.i.QueryTranslatorFactoryInitiator  : HHH000397: Using ASTQueryTranslatorFactory
        Hibernate:
        select
        image0_.id as id1_0_,
        image0_.date as date2_0_,
        image0_.description as descript3_0_,
        image0_.imageFile as imageFil4_0_,
        image0_.title as title5_0_,
        image0_.user_id as user_id6_0_
        from
        images image0_
        Hibernate:
        select
        user0_.id as id1_4_0_,
        user0_.password as password2_4_0_,
        user0_.profile_id as profile_4_4_0_,
        user0_.username as username3_4_0_,
        userprofil1_.id as id1_3_1_,
        userprofil1_.email_address as email_ad2_3_1_,
        userprofil1_.full_name as full_nam3_3_1_,
        userprofil1_.mobile_number as mobile_n4_3_1_
        from
        users user0_
        left outer join
        user_profile userprofil1_
        on user0_.profile_id=userprofil1_.id
        where
        user0_.id=?
        Hibernate:
        select
        user0_.id as id1_4_0_,
        user0_.password as password2_4_0_,
        user0_.profile_id as profile_4_4_0_,
        user0_.username as username3_4_0_,
        userprofil1_.id as id1_3_1_,
        userprofil1_.email_address as email_ad2_3_1_,
        userprofil1_.full_name as full_nam3_3_1_,
        userprofil1_.mobile_number as mobile_n4_3_1_
        from
        users user0_
        left outer join
        user_profile userprofil1_
        on user0_.profile_id=userprofil1_.id
        where
        user0_.id=?
        Hibernate:
        select
        user0_.id as id1_4_,
        user0_.password as password2_4_,
        user0_.profile_id as profile_4_4_,
        user0_.username as username3_4_
        from
        users user0_
        where
        user0_.username=?
        and user0_.password=?
        Hibernate:
        select
        userprofil0_.id as id1_3_0_,
        userprofil0_.email_address as email_ad2_3_0_,
        userprofil0_.full_name as full_nam3_3_0_,
        userprofil0_.mobile_number as mobile_n4_3_0_
        from
        user_profile userprofil0_
        where
        userprofil0_.id=?
        Hibernate:
        select
        image0_.id as id1_0_,
        image0_.date as date2_0_,
        image0_.description as descript3_0_,
        image0_.imageFile as imageFil4_0_,
        image0_.title as title5_0_,
        image0_.user_id as user_id6_0_
        from
        images image0_
        Hibernate:
        select
        user0_.id as id1_4_0_,
        user0_.password as password2_4_0_,
        user0_.profile_id as profile_4_4_0_,
        user0_.username as username3_4_0_,
        userprofil1_.id as id1_3_1_,
        userprofil1_.email_address as email_ad2_3_1_,
        userprofil1_.full_name as full_nam3_3_1_,
        userprofil1_.mobile_number as mobile_n4_3_1_
        from
        users user0_
        left outer join
        user_profile userprofil1_
        on user0_.profile_id=userprofil1_.id
        where
        user0_.id=?
        Hibernate:
        select
        user0_.id as id1_4_0_,
        user0_.password as password2_4_0_,
        user0_.profile_id as profile_4_4_0_,
        user0_.username as username3_4_0_,
        userprofil1_.id as id1_3_1_,
        userprofil1_.email_address as email_ad2_3_1_,
        userprofil1_.full_name as full_nam3_3_1_,
        userprofil1_.mobile_number as mobile_n4_3_1_
        from
        users user0_
        left outer join
        user_profile userprofil1_
        on user0_.profile_id=userprofil1_.id
        where
        user0_.id=?
        Hibernate:
        select
        image0_.id as id1_0_,
        image0_.date as date2_0_,
        image0_.description as descript3_0_,
        image0_.imageFile as imageFil4_0_,
        image0_.title as title5_0_,
        image0_.user_id as user_id6_0_
        from
        images image0_
        where
        image0_.id=?
        and image0_.title=?
        Hibernate:
        select
        user0_.id as id1_4_0_,
        user0_.password as password2_4_0_,
        user0_.profile_id as profile_4_4_0_,
        user0_.username as username3_4_0_,
        userprofil1_.id as id1_3_1_,
        userprofil1_.email_address as email_ad2_3_1_,
        userprofil1_.full_name as full_nam3_3_1_,
        userprofil1_.mobile_number as mobile_n4_3_1_
        from
        users user0_
        left outer join
        user_profile userprofil1_
        on user0_.profile_id=userprofil1_.id
        where
        user0_.id=?
        Hibernate:
        select
        tags0_.images_id as images_i1_1_0_,
        tags0_.tags_id as tags_id2_1_0_,
        tag1_.id as id1_2_1_,
        tag1_.name as name2_2_1_
        from
        images_Tags tags0_
        inner join
        Tags tag1_
        on tags0_.tags_id=tag1_.id
        where
        tags0_.images_id=?
        Hibernate:
        select
        image0_.id as id1_0_,
        image0_.date as date2_0_,
        image0_.description as descript3_0_,
        image0_.imageFile as imageFil4_0_,
        image0_.title as title5_0_,
        image0_.user_id as user_id6_0_
        from
        images image0_
        where
        image0_.id=?
        Hibernate:
        select
        user0_.id as id1_4_0_,
        user0_.password as password2_4_0_,
        user0_.profile_id as profile_4_4_0_,
        user0_.username as username3_4_0_,
        userprofil1_.id as id1_3_1_,
        userprofil1_.email_address as email_ad2_3_1_,
        userprofil1_.full_name as full_nam3_3_1_,
        userprofil1_.mobile_number as mobile_n4_3_1_
        from
        users user0_
        left outer join
        user_profile userprofil1_
        on user0_.profile_id=userprofil1_.id
        where
        user0_.id=?
        Hibernate:
        select
        tags0_.images_id as images_i1_1_0_,
        tags0_.tags_id as tags_id2_1_0_,
        tag1_.id as id1_2_1_,
        tag1_.name as name2_2_1_
        from
        images_Tags tags0_
        inner join
        Tags tag1_
        on tags0_.tags_id=tag1_.id
        where
        tags0_.images_id=?

        <i>Posted On: </i> <span th:text="${i.date}"></span>
        <br>
        <br>
        <hr>
        </p>
    </post>
</main>
</body>
</html>
